*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #00aaff, #5a1c94);
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.plusMinus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100vw;
  font-size: 3rem;
}

.plusMinus button {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.todos {
  margin-top: 3rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
}

.todos input {
  height: 2.5rem;
  font-size: 1.5rem;
}

.todo {
  padding: 0.5rem;
  margin: 0.2rem;
  background-color: aquamarine;
  border-radius: 6px;
  border: 1px solid grey;
  min-width: 250px;
}

.todo-buttons {
  display: flex;
  justify-content: space-between;
}

.todo-buttons button {
  cursor: pointer;
}
